#Header{
	border: solid 8px black;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
}
#LeftNav{
	border: solid 8px black;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
	float: left;
}
#Content{
	border: solid 8px black;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
}
#Footer{
	border: solid 8px black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
}

li{
	list-style-type: none
}
	
h1{
	font-family: "Passion One";
	font-size: 60px;
	color: #FFBC00;
	font-weight: bold;
}

h3{
	font-family: "Passion One";
	font-size: 40px;
	color: #FFBC00;
	font-weight: bold;
}

div {
	background-color: #9E41D5;
}

body {
	background-image: url(dark_wood.png)
}

p{
	font-family: Arial;
	color: white;
	padding: 10px;
	font-weight: bold;
}
a{
	font-size: 24px;
	color: white;
	font-weight: bold;
}
	

